<h1>Listing question_for_partners</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_for_partners.each do |question_for_partner| %>
  <tr>
    <td><%= question_for_partner.question %></td>
    <td><%= question_for_partner.creator %></td>
    <td><%= link_to 'Show', question_for_partner %></td>
    <td><%= link_to 'Edit', edit_question_for_partner_path(question_for_partner) %></td>
    <td><%= link_to 'Destroy', question_for_partner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question for partner', new_question_for_partner_path %>
