<p id="notice"><%= notice %></p>

<p>
  <b>Weightinlb:</b>
  <%= @scale_datum.weightInLb %>
</p>

<p>
  <b>Impid:</b>
  <%= @scale_datum.ImpId %>
</p>

<p>
  <b>Time:</b>
  <%= @scale_datum.created_at %>
</p>


<%= link_to 'Edit', edit_scale_datum_path(@scale_datum) %> |
<%= link_to 'Back', scale_data_path %>
